@import "tailwindcss";

@theme {
  --font-sans: var(--font-primary), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: var(--font-primary), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: var(--font-primary), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
